{% load static i18n %}
{% load format_phone_number %}

<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>{{ agent_page.title }}</h2>
        <p>{{ agent_page.content|safe}}</p>
      </div>
      <div class="row gy-5">
        {% for agent in agents %}
        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="{% if agent.agent_photo %}
              {{ agent.agent_photo.url }}
              {% else %}
              {% static 'images/defaults/default_person.png' %} 
              {% endif %}"
              class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <div class="social">
                {% for account in agent.agent_social_account.all %}
                {% if account.name == "tiktok" %}
                <a href="{{ account.url }}"><i class="bi bi-tiktok"></i></a>
                {% endif %}
                {% if account.name == "facebook" %}
                <a href="{{ account.url }}"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if account.name == "instagram" %}
                <a href="{{ account.url }}"><i class="bi bi-instagram"></i></a>
                {% endif %}
                {% if account.name == "twitter" %}
                <a href="{{ account.url }}"><i class="bi bi-twitter-x"></i></a>
                {% endif %}
                {% if account.name == "youtube" %}
                <a href="{{ account.url }}"><i class="bi bi-youtube"></i></a>
                {% endif %}
                {% if account.name == "linkedin" %}
                <a href="{{ account.url }}"><i class="bi bi-linkedin"></i></a>
                {% endif %}
                {% endfor %}
              </div>
              <h4><strong>{{ agent.first_name }}</strong> {{ agent.last_name|upper}}</h4>
              <span><strong>{{ agent.get_role_display }}</strong></span><br>
              <span><i class="bi bi-telephone-fill"></i> {{ agent.phone|format_phone }}</span>
              <span><i class="bi bi-envelope-fill"></i> {{ agent.get_email }}</span>
            </div>
          </div>
        </div><!-- End Team Member -->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Team Section -->