{% load static i18n %}
{% load crispy_forms_tags %}

<section class="inner-page">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                    <h2>{{ agent.first_name|upper}}<span class="color-primary"> {{ agent.last_name }}</span></h2>
                    <h4>{{ agent.get_role_display }} | REALTOR<sup>®</sup></h4>
            </div>
            <div class="agent-socials justify-content-around" style="width: 200px;">
              {% for account in agent.agent_social_account.all %}
              {% if account.name == "tiktok" %}
              <a href="{{ account.url }}"><i class="bi bi-tiktok"></i></a>
              {% endif %}
              {% if account.name == "facebook" %}
              <a href="{{ account.url }}"><i class="bi bi-facebook"></i></a>
              {% endif %}
              {% if account.name == "instagram" %}
              <a href="{{ account.url }}"><i class="bi bi-instagram"></i></a>
              {% endif %}
              {% if account.name == "twitter" %}
              <a href="{{ account.url }}"><i class="bi bi-twitter-x"></i></a>
              {% endif %}
              {% if account.name == "youtube" %}
              <a href="{{ account.url }}"><i class="bi bi-youtube"></i></a>
              {% endif %}
              {% if account.name == "linkedin" %}
              <a href="{{ account.url }}"><i class="bi bi-linkedin"></i></a>
              {% endif %}
              {% endfor %}
            </div>
            <div class="row gy-5">
                <div class="col-lg-5 d-flex align-content-center rounded ">
                    <img src="{% if agent.agent_photo %}
                    {{ agent.agent_photo.url }}
                    {% else %}
                    {% static 'images/defaults/default_person.png' %} 
                    {% endif %}"
                    class="img-fluid" alt="{{agent.get_full_name }} image">
                </div>
                <div class="col-lg-7">
                    <div class="service-content">
                        <p><strong>
                            {{ agent.agent_short_bio|safe }}
                        </strong></p>
                        <p>
                            {{ agent.bio|safe }}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col-lg-6">
                    <div class="service-content agent-contact">
                        <h3>Contact <span class="color-primary ml-1">{{agent.first_name}}</span></h3>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="agent" value="{{ agent.slug }}">
                            {% crispy agent_contact_form %}
                            {% if agent_contact_form.errors %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-content areas-of-focus gy-4">
                        <h4 class="focus-header">Areas of Focus</h4>
                        <ul>
                            {% for area in agent.focus_areas %}
                            <span class="badge rounded-pill bg-primary">{{ area|capfirst}}</span>
                            {% endfor %}
                        </ul>
                        <br>
                        <br>
                        {% if agent.practice_areas%}
                        <h4 class="focus-header">Practice Areas</h4>
                        <ul>
                            {% for area in agent.practice_areas %}
                          <span class="badge rounded-pill bg-primary">{{ area|capfirst}}</span>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>