{% load static i18n %}

<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>{{ agent_page.title }}</h2>
        <p>{{ agent_page.content|safe}}</p>
      </div>
      <div class="row gy-5">
        {% for agent in agents %}
        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="{% if agent.agent_photo %}
              {{ agent.agent_photo.url }}
              {% else %}
              {% static 'images/defaults/default_person.png' %} 
              {% endif %}"
              class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
              <h4>{{ agent.get_full_name }}</h4>
              <span>{{ agent.get_role_display }}</span>
            </div>
          </div>
        </div><!-- End Team Member -->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Team Section -->