{% load static i18n %}
{% load crispy_forms_tags %} 

<div class="modal fade m-4" id="modalContactFrom" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h2 class="modal-title text-primary">Contact Us</h2>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if messages %}
        <div class="alert alert-{{ messages.tags }}">
         {{ message }}
        </div>
        {% endif %}
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                {% crispy contact_form %}
            </form>
        </div>
      </div>
    </div>
  </div>