{% load static i18n %}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>{% trans "About Us" %}</h2>
        <p>
          {% if about_page.subtitle %}
          {{ about_page.subtitle|safe }}
          {% else %}
          {% lorem 1 b %}
          {% endif %}
        </p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="{% if about_page.about_header_image %}{{ about_page.about_header_image.url }}{% else %} {% static 'images/pages/about/about.jpg' %}{% endif %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">{% if about_page.header_text %}{{ about_page.header_text|safe }} {% else %} About Us {% endif %}</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">{{ page_title }}</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">{% trans 'Our Whys' %}</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">{% trans 'Our Commitments' %}</a></li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">

              <p class="fst-italic">
                {% if about_page.about_us%}
                {{ about_page.about_us|safe }}
                {% else %}
                {% lorem 2 b %}
                {% endif %}
              </p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">

              <p class="fst-italic">
                {% if about_page.our_whys%}
                {{ about_page.our_whys|safe }}
                {% else %}
                {% lorem 2 b %}
                {% endif %}
              </p>

            </div><!-- End Tab 2 Content -->

            <div class="tab-pane fade show" id="tab3">

              <p class="fst-italic">
                {% if about_page.our_commitments%}
                {{ about_page.our_commitments|safe }}
                {% else %}
                {% lorem 2 b %}
                {% endif %}
              </p>

            </div><!-- End Tab 3 Content -->

          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->