{% load static i18n %}
{% load crispy_forms_tags %} 

<section id="contact" class="contact">
    <div class="container">

      <div class="section-header">
        <h2>{% trans "Contact Us" %}</h2>
        {% if contact_info.contact_cta %}
        <p>{{ contact_info.contact_cta }}</p>
        {% endif %}
      </div>

    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJnYr2jhsx9ocRVA6v0gaAdn4&destination=place_id:ChIJnYr2jhsx9ocRVA6v0gaAdn4&key=AIzaSyDqG4NHTozSB-jAGN4HFShobSCzhHPAaJE" frameborder="0" allowfullscreen></iframe>
    </div><!-- End Google Maps -->

    <div class="container">

      <div class="row gy-5 gx-lg-5">

        <div class="col-lg-4">

          <div class="info">
            <h3>Get in touch</h3>
            <p>We would love to hear from you! Give us a call, or drop us a line.</p>

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>{{ contact_info.address }}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>{{ contact_info.primary_email }}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>{{ contact_info.phone }}</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-8">
          {% if messages %}
            <div class="alert alert-{{ messages.tags }}">
             {{ message }}
            </div>
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            {% crispy contact_form %}
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>
  </section>