{% load static i18n %}

<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">

    <div class="row g-5">

      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3>{{ call_to_action.title}}</h3>
        <p> {{ call_to_action.text}}</p>
        <a class="cta-btn align-self-start" href="{% url 'pages:contact' %}">{{ call_to_action.button_text }}</a>
      </div>

      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="
          {% if call_to_action.image %}
          {{ call_to_action.image.url }}
          {% else %}
          {% static 'images/pages/home/cta.jpg' %}
          {% endif %}" 
          alt="" class="img-fluid">
        </div>
      </div>
    </div>

  </div>
</section>