{% load static i18n %}

<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>{{ home_page.hero_title }} <span>{{ home_page.hero_subtitle }}</span></h2>
      <p>{{ home_page.hero_text }}</p>
      <div class="d-flex">
        <a href="{% url 'pages:contact' %}" class="btn-get-started scrollto">{% trans "Get Started" %}</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>{% trans "Watch Video" %}</span></a>
      </div>
    </div>
  </section>