{% load static i18n %}

<section class="inner-page legal-page">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                    <h2 class="header">{{ detail_page_title}}</h2>
                    <h4>{{ service.subtitle }}</h4>
            </div>
            <div class="row gy-5">
                <div class="col-lg-5">
                    <img src="{{ service.image.url }}" class="img-fluid pt-3" alt="{{ detail_page_title}} image">
                </div>
                <div class="col-lg-7">
                    <div class="service-content">
                        <p><strong>
                            {{ service.description|safe }}
                        </strong></p>
                        <p>
                            {{ service.full_description|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
