{% load static i18n %}

<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>{{ service_page.page_header }}</h2>
      <p>{{ service_page.page_subheader }}</p>
    </div>

    <div class="row gy-5">
      {% for service in services %}
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="{% if service.image %}{{ service.image.url }}{% else %}{% static 'images/pages/services/services-1.jpg' %}{% endif %}" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="{{ service.service_icon }}"></i>
            </div>
            <a href="{% url 'pages:service' slug=service.slug %}" class="stretched-link">
              <h3>{{ service.name }}</h3>
            </a>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      {% endfor %}

    </div>

  </div>
</section>
