{% load static i18n %}

<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">
          {% for testimonial in testimonials %}
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% if testimonial.client_image %}
              {{ testimonial.client_image.url }}
              {% else %}
              {% static 'images/defaults/default_person.png' %}
              {% endif %}" class="testimonial-img" alt="Client image">
              <h3>{{ testimonial.name }}</h3>
              <h4>{{ testimonial.get_client_type_display }}</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                {{ testimonial.comment }}
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>