{% load static i18n %}

<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>{{ site_info.short_name }}</h3>
              <p>
                {{ contact_info.address }}
                <br><br>
                <strong>{% trans "Phone" %}:</strong>{{ contact_info.phone }}<br>
                <strong>{% trans "Email" %}:</strong> {{ contact_info.primary_email }}<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pages:home'%}">{% trans "Home" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pages:about'%}">{% trans "About Us" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pages:services'%}">{% trans "Services" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pages:terms'%}">{% trans "Terms of Use" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pages:privacy'%}">{% trans "Privacy Policy" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">{% trans "Buying" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">{% trans "Listing" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">{% trans "Investing" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">{% trans "Property Management" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{% trans "Our Newsletter" %}</h4>
            <p>{% trans "Subscribe to our newsletter and stay informed" %}</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; {% now "Y" %} <strong><span>{{ site_info.name }}</span></strong>. {% trans "All Rights Reserved" %}
          </div>
          
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="{{ social.tiktok }}" class="twitter"><i class="bi bi-tiktok"></i></a>
          <a href="{{ social.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="{{ social.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{{ social.google_business }}" class="google-plus"><i class="bi bi-google"></i></a>
          <a href="{{ social.youtube }}" class="linkedin"><i class="bi bi-youtube"></i></a>
        </div>

      </div>
    </div>

  </footer>