{% load static i18n %}

<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'pages:home' %}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        {% if site_info.logo %}
        <img src="{{ site_info.logo.url }}" alt="">
        {% else %}
        <h1>{{ site_info.short_name }}<span>.</span></h1>
        {% endif %}
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'pages:home' %}" class="active">{% trans "Home" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'pages:about' %}">{% trans "About" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'pages:services' %}">{% trans "Services" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'agents:agent_list' %}">{% trans "Agents" %}</a></li>
          <li><a href="{% url 'blogs:blog_list' %}">{% trans "Blog" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'pages:contact' %}">{% trans "Contact" %}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->
      <a class="btn-getstarted scrollto" href="https://listings.gojjorealty.com">{% trans "Listings" %}</a>

    </div>
  </header><!-- End Header -->