{% load static i18n  %}

<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>{{ meta.blog_name }}</h2>
        <h4>{{ meta.subtitle }}</h4>
        <br>
        <p>{{ meta.description }}</p>
      </div>

      <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="post-box">
            <div class="post-img"><img src="
                {% if blog.image %}
                    {{ blog.image.url }}
                {% else %}
                    {% static 'images/defaults/default_blog.png' %}
                {% endif %}" 
                class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">{{ blog.created_date|date:"DATE_FORMAT" }}</span>
              <span class="post-author"> /  {{ blog.author.get_full_name }}</span>
            </div>
            <h3 class="post-title">{{blog.title }}</h3>
            <p>{{ blog.tldr|safe|truncatewords:30}}</p>
            <a href="{% url 'blogs:blog_detail' slug=blog.slug %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        {% endfor %}
        {% comment %} <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="post-box">
            <div class="post-img"><img src="{% static 'images/pages/blog/blog-2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">Fri, September 05</span>
              <span class="post-author"> / Mario Douglas</span>
            </div>
            <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
            <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis aliquid necessitatibus tempora consectetur doloribus...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
          <div class="post-box">
            <div class="post-img"><img src="{% static 'images/pages/blog/blog-3.jpg' %}" class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">Tue, July 27</span>
              <span class="post-author"> / Lisa Hunter</span>
            </div>
            <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
            <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam veritatis dicta nihil...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div> {% endcomment %}

      </div>

    </div>

  </section>